h1{
    font-family: 'Indie Flower', cursive;
    color: brown;
}
#secondp{
    font-family: 'Viaoda Libre', cursive;
    margin-top: 200px;
    
}
#firstp{
    margin: -80px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: yellow;
}