*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 16px;
}
.container{
    background-color: white;
}
body{
    
}
.main-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#logo{
    margin-top: 200px;
}
nav{
    /* display: flex; */
    /* padding: 2% 6%; */
    justify-content: space-between;
        align-items: center;
}
.nav-links-right{
    flex: 1;
    text-align: right;
    justify-content: center;
}
.nav-links-right ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links-left{
    flex: 1;
    text-align: left;
}

.nav-links-left ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 
.about{
    flex: 1;
    text-align: left;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#search,
#lucky{
    margin: 8px 15px;
    width: 130px;
    height: 28px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: rgba(224, 220, 220, 0.411);
    border: 1px solid rgba(224, 220, 220, 0.411);
    color: #202124;  
    font-family: 'Noto Serif', serif;
    text-align: center;
    border-radius: 5px;
}
#input-wrapper{
    margin: 8px 15px;
    width: 550px;
    height: 30px;
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}
#language{
    font-family: 'Noto Serif', serif;
}
.left{
    float: left;
}