*{
    margin: 0px;
    padding: 0px;

  
}
html{
    font-size: 16px;
}
body{
    color: black;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(./Image/download.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#container{
    color: aliceblue;
    margin: auto;
    margin-top: 3rem;
    width: 30%;
    border: 3px solid #000;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(./Image/asd.jpg);
   
}
#header{
    font-family: 'Luxurious Roman', cursive;
}
#description{
    font-family: 'Open Sans Condensed', sans-serif;
}
#label_1,
#label_2,
#label_3,
#label_4{
    font-family: 'Open Sans Condensed', sans-serif;
}
#name,
#surname,
#email{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
textarea{
    resize: none;
}
#name,
#surname,
#email,
#comment{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}
